<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
</header>

<main>
<div class="jumbotron">
<h1>This is great</h1>
<p>Welcome to templating using EJS</p>
<%= poll.question %>

<div id="choices">
  <% poll.answers.forEach(function (answer) { %>
    <button><%= answer %></button>
  <% }); %>
</div>

</div>
</main>

<footer>
</footer>

</body>
</html>
